<div class="hero-wrapper">
  <div class="wrapper">
      <header>
          <a href="#" class="logo">Vijay Chitra</a>

          <nav>
              <ul>
                  <li><a routerLink="">Home</a></li>
                  <li><a routerLink="/about" >About</a></li>
                  <!-- <li><a href="http://vijaychitra.blogspot.com/" >About</a></li> -->
                  <li><a routerLink="/contact">Contact</a></li>
              </ul>
          </nav>
      </header>

      <div class="hero-content">
          <h1>I help people to make better software</h1>
          <p class="subtitle">UI / UX &amp; Testing business web applications </p>
      </div>
  </div>
</div>

<div class="light-purple-wrapper">
  <div class="wrapper">
      
  </div>

  <div class="extended-wrapper carousal-container">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/arrow_copy_copy.svg" id="left-arrow" class="arrows" alt="Move testimonials to the left">

      <ul class="carousal">
          <li>
              <blockquote>"Testing software is my personal favorite work, that is required for some business owners & stakeholders, so I’ am continuing it professionally."</blockquote>
              <cite></cite>
          </li>
          <li>
              <blockquote>"Design is something that I fell in love with and it is not a simple thing to do, it is tougher that I thought."</blockquote>
              <cite></cite>
          </li>
      </ul>

      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/arrow_copy_copy.svg" id="right-arrow" class="arrows right" alt="Move testimonials to the right">
  </div>
</div>

<div class="wrapper move-up v-padding">

    <h2>Serives Provided..</h2>

    <ul class="companies">
<li><span class="services">Website Design</span></li>
        
<li><span class="services">Logo Design</span></li>

<li><span class="services">Q &amp; A</span></li>
    </ul>
</div>

