
    <div class="hero-wrapper">
        <div class="wrapper">
            <header>
                <a href="#" class="logo">Vijay Chitra</a>
      
                <nav>
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="/about" >Work</a></li>
                        <!-- <li><a href="http://vijaychitra.blogspot.com/" >About</a></li> -->
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </nav>
            </header>
      
            <div class="hero-content">
                <h1>I help people to make better software</h1>
                <p class="subtitle">UI / UX &amp; Testing business web applications.</p>
            </div>
        </div>
      </div>
      
      <div class="light-purple-wrapper">
        <div class="wrapper">
            
        </div>
      
        <div class="extended-wrapper carousal-container">
            <img src="assets/Images/play-button-rev.svg" id="left-arrow" class="arrows" alt="Move testimonials to the left">
      
            <ul class="carousal">
                <li>
                    <blockquote>"Testing software is my personal favorite work, that is required for some business owners & stakeholders, so I’ am continuing it professionally."</blockquote>
                    <cite></cite>
                </li>
                <li>
                    <blockquote>"Design is something that I fell in love with and it is not a simple thing to do, it is tougher that I thought."</blockquote>
                    <cite></cite>
                </li>
            </ul>
      
            <img src="assets/Images/play-button-rev.svg" id="right-arrow" class="arrows right" alt="Move testimonials to the right">
        </div>
      </div>
      
      <div class="wrapper move-up v-padding">
      
          <h2>Serives Provided..</h2>
      
          <ul class="companies">
      <li><span class="services">Website Design</span></li>
              
      <li><span class="services">Logo Design</span></li>
      
      <li><span class="services">Q &amp; A</span></li>
          </ul>
      </div>
      
      <div class="icon-bar">
          <a href="https://vdesignstudio.firebaseapp.com/" class="home"> <i class="fa fa-home" aria-hidden="true" aria-hidden="true"></i></a>
          <a href="https://vdesignstudio.firebaseapp.com/contact" class="facebook"><i class="fa fa-phone" aria-hidden="true"></i></a>
         <a href="https://www.instagram.com/vijay_chitra_/" class="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
         <a href="https://www.linkedin.com/in/vijaychitra/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
         <a href="https://vdesignstudio.firebaseapp.com/about/" class="twitter"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
      </div>
      

