<div class="photo-grid" >

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/BANNER.png')">

  </div>

  <div class="card card-wide card-tall"  style="background-image:url('assets/Images/WEB.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/LG.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('assets/Images/Wall.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/CF.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/LOGO.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/Top.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/Middle.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/Bottom.png')"></div>


</div>

<div class="icon-bar">
  <a href="https://vdesignstudio.firebaseapp.com/" class="home"> <i class="fa fa-home" aria-hidden="true" aria-hidden="true"></i></a>
  <a href="https://vdesignstudio.firebaseapp.com/contact" class="facebook"><i class="fa fa-phone" aria-hidden="true"></i></a>
 <a href="https://www.instagram.com/vijay_chitra_/" class="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
 <a href="https://www.linkedin.com/in/vijaychitra/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
 <a href="https://vdesignstudio.firebaseapp.com/about/" class="twitter"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
</div>
