<div class="photo-grid">

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/BANNER.png')">

  </div>

  <div class="card card-wide card-tall" style="background-image:url('assets/Images/WEB.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/LG.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('assets/Images/Wall.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/CF.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/LOGO.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/Top.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/Middle.png')"></div>

  <div class="card card-wide card-tall" style="background-image:url('/assets/Images/Bottom.png')"></div>


</div>