
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #2B192F;
    color: white;
    font-family: 'Montserrat';
}


@media (min-width: 853px) {
    body {
        font-size: 20px;
    }
}

