/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 53%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #27bdce;
  }
  
  .facebook {
    background: #494440;
    color: white;
  }
  
  .twitter {
    background: #0894ff;
    color: white;
  }
  
  .google {
    background: #e7290f;
    color: white;
  }
  
  .linkedin {
    background: #494440;
    color: white;
  }
  
  .instagram  {
    background: #D85364;
    color: white;
  }

  .home  {
    // background: #b5076b;
         background: rgb(0,191,255);

    color: black;
  }



@media(max-width:1250px) {

    body {margin:0;}

    .icon-bar {
      position: fixed;
        top: 97%;
        width: 100%;
      // background-color: #555;
      overflow: auto;
      z-index: 1000000;
      
    }
    
    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }
      /* Style the social media icons with color, if you want */
      .icon-bar a:hover {
        background-color: #27bdce;
      }
      
      .facebook {
        background: #494440;
        color: white;
      }
      
      .twitter {
        background: #0894ff;
        color: white;
      }
      
      .google {
        background: #e7290f;
        color: white;
      }
      
      .linkedin {
        background: #494440;
        color: white;
      }
      
      .instagram  {
        background: #D85364;
        color: white;
      }
    
      .home  {
        // background: #b5076b;
        background: rgb(0,191,255);
        // background: linear-gradient(90deg, rgba(0,206,209,1) 0%, rgba(0,206,209,1) 50%, rgba(0,206,209,1) 100%); 
        color: white;
      }
    
}
